<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>RemoteHack</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js' type="text/javascript" charset="utf-8"></script>
    <script src="https://simplewebrtc.com/latest.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/replit-jq-console-4923dbe/jqconsole.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
