<div id="editorCustom">
    <label for="theme">Theme</label>
    <select class="form-control" data-width="100%" ng-model="theme" ng-options="theme for theme in themes" ng-change="changeTheme(theme)">
    </select>
    <label for="language">Language</label>
    <select class="form-control" data-width="100%" ng-model="language" ng-options="language for language in languages" ng-change="changeLanguage(language)">
    </select>
    <label for="fontSize">Font Size</label>
    <select class="form-control" data-width="100%" ng-model="fontSize" ng-options="size for size in fontSizes" ng-change="changeSize(size)">
    </select>
</div>
<div id="runFromConsole">
    <div ng-click="runFromConsole()"><i class="fa fa-cog" id="run"> Run Code</i></div>
</div>
<div id="editor">
    Welcome to remoteCode!
</div>
