#editor {
    position: absolute;
    top: 15%;
    right: 15%;
    bottom: 0;
    width: 33%;
    height: 75%;
    border-radius: 5px;
}

#editorCustom {
    position: absolute;
    height: auto;
    width: 120px;
    top: 120px;
    right: 4%;
    padding: 10px;
    font-color: darkgray;
    border: 1px solid lightgray
}

#runFromConsole {
    position: absolute;
    height: auto;
    width: 120px;
    top: 330px;
    right: 4%;
    padding: 10px;
    font-color: darkgray;
    border: 1px solid lightgray
}