<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 id="title">Start a room</h3>
            <form id="createRoom" ng-show="!inRoom">
                <div class="form-group">
                    <input class="form-control form-inline" ng-model='room.roomName' id="sessionInput" placeholder="Room name" />
                </div>
                <div class="form-group">
                    <input class="form-control form-inline" ng-model='room.name' id="name" placeholder="Your name" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-inline" ng-model='room.email' placeholder="Email to invite..." />
                </div>
                <div class="form-group">
                    <button id="createIt" disabled type="submit" class="btn btn-success" ng-click="sendRequest(room)">Create it!</button>
                </div>
            </form>
            <button type="button" class="btn btn-danger" ng-if="inRoom" ng-click="leaveChat()">Leave the chat</button>
            <div id="subTitle" ng-show="inRoom"></div>
            <form id="sendLink" ng-show="showSendLink">
                <div class="form-group">
                    <input class="form-control form-inline" ng-model='emailLink' placeholder="Email" />
                </div>
                <div class="form-group">
                    <button id="sendLink" class="btn btn-success" ng-click="sendLink(emailLink)">Send invite</button>
                </div>
            </form>
            <hr>
            <button class="btn btn-success" ng-click="startLocalVideo()" ng-if="!inRoom">Start Local Video?</button>
            <driver></driver>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="videoContainer col-sm-6">
                            <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
                        </div>
                        <div id="remotes" class="col-sm-6">
                            <div id="localScreenContainer" class="videoContainer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <ul id="videoRooms">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <file-upload></file-upload>
                </div>
                <div class="col-sm-6">
                    <file-download></file-download>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <editor></editor>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <console></console>
        </div>
    </div>
</div>
</div>
